*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

.container{
    width: 60%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.slider{
    width: 100%;
    height: 500px;
    position: relative;
}

.items-container{
    width: 100%;
    height: 100%;
}

.items-container .item{
    width: 100%;
    height: 100%;
    display: none;
}

.items-container .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 40%;
}

button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 25px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    margin-right: 20px;
}

.item.active{
    display: block;
}



